<!DOCTYPE html>
{% load static %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pyschomino</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <a href="#" class="header-logo"><img src="{% static 'img/logo.png' %}" /></a>
    <nav class="nav-right">
        <a href="#" class="nav-right-button">Login</a>
        <br>
        <a href="#" class="nav-right-button">Save</a>
        <a href="#" class="nav-right-button">Share</a>
        <a href="/api/lessons/{{id}}" class="nav-right-button">Print</a>
    </nav>
</header>
<article>

</article>
<footer>
    <p><a href="">f</a> <a href="">t</a></p>
    <p><a href="">Contact</a> - Copyright 2015</p>
</footer>
</body>
</html>