<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/html">
	<head lang="en">
        <meta charset="UTF-8">
        <title>Pyschomino</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
	<body>
        <header>
            <a href="/" class="header-logo"><img src="{% static 'img/logo.png' %}" /></a>
            <nav class="nav-right">
                <a href="/rules" class="nav-right-button">Règles</a>
                <a href="/contact" class="nav-right-button">Contact</a>
            </nav>
        </header>
	        <article>
	        	<div class="search">
        			<form action="/lessons/search?search" method="get">
		        		<input type="text" name="search" placeholder="Recherche...">
		        	</form>
        		</div>
                <div class="generate">
                    <button value="svg">Generate SVG</button>
                    <button value="pdf">Generate PDF</button>
                </div>

                <!-- Div qui contient l'arbre -->
                <div id="tree" class="tree">
                    <!-- Div qui contient toutes les branches -->
                    <div class="contentTrunk">

                        <div class="grow">
                            <div class="branch">
                                <a href="#" class="btn delete item">x</a>
                                <p class="value">Branche</p>
                                <a href="#" class="btn add branchAdd">+</a>
                                <a href="#" class="btn hide branchHide">↑</a>
                                <a href="#" class="btn show branchHide">↓</a>
                            </div>

                            <div class="contentBranch">
                                <div class="elementType">
                                    <span class="before"><img src="{% static 'img/left.png' %}" alt="left"></span>
                                        <div class="element">
                                            <a href="#" class="btn delete item">x</a>
                                            <p class="value">Image</p>
                                        </div>
                                    <span class="after"><img src="{% static 'img/right.png' %}" alt="right"></span>
                                    <a class="btn choice">Valider</a>
                                </div>
                                <div class="elementType">
                                    <span class="before"><img src="{% static 'img/left.png' %}" alt="left"></span>
                                        <div class="element">
                                            <a href="#" class="btn delete item">x</a>
                                            <p class="value">Image</p>
                                        </div>
                                    <span class="after"><img src="{% static 'img/right.png' %}" alt="right"></span>
                                    <a class="btn choice">Valider</a>
                                </div>
                            </div>
                        </div>


<!--                         <div class="grow">
                            <div class="branch">
                                <a href="#" class="btn delete item">x</a>
                                <p class="value">Branche</p>
                                <a href="#" class="btn add branchAdd">+</a>
                                <a href="#" class="btn hide branchHide">↑</a>
                                <a href="#" class="btn show branchHide">↓</a>
                            </div>

                            <div class="contentBranch">
                                <div class="elementType">
                                    <span class="before"><img src="{% static 'img/left.png' %}" alt="left"></span>
                                    <div class="slide">
                                        <div class="element elementImage">
                                            <a href="#" class="btn delete item">x</a>
                                            <p class="value">Image</p>
                                        </div>
                                        <div class="element elementLittletext">
                                            <a href="#" class="btn delete item">x</a>
                                            <p class="value">ElementPetitTexte</p>
                                        </div>
                                        <div class="element elementLongText">
                                            <a href="#" class="btn delete item">x</a>
                                            <p class="value">ElementLongTexte</p>
                                        </div>
                                    </div>
                                    <span class="after"><img src="{% static 'img/right.png' %}" alt="right"></span>
                                    <a class="btn choice">Valider</a>
                                </div>
                            </div>
                        </div>-->



                        <!-- Div qui contient tous les elements d'une branche (il peut y en avoir plusieurs) -->

                    </div>
                </div>
        		<!-- A afficher si arbre fini -->
        		<!-- TODO : url -->
        		<div class="share">
        			<p>Partager</p>
        			<a href="http://www.facebook.com/sharer.php?u=URL" target="_blank">
        				<img src="{% static 'img/fb2.png' %}" alt="facebook" width="20" height="20"></a>
			    	<a href="http://twitter.com/home?status=URL" target="_blank">
			    		<img src="{% static 'img/tw2.png' %}" alt="twitter" width="20" height="20">
			    	</a>
			    	<a href="https://plus.google.com/share?url=URL" target="_blank">
			    		<img src="{% static 'img/g+2.png' %}" alt="google+" width="20" height="20">
			    	</a>
        		</div>

	        </article>
        <footer>
		    <p>
			    <a href="http://www.facebook.com/Psychomino" target="_blank"><img src="{% static 'img/fb.png' %}" alt="facebook" width="14" height="14"></a>
			    <a href="" target="_blank"><img src="{% static 'img/tw.png' %}" alt="twitter" width="14" height="14"></a>
		    </p>
		    <p>Copyright 2015</p>
		</footer>
        <script type="text/javascript" src="static/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="static/js/arbre/app.js"></script>
        <script type="text/javascript" src="static/js/arbre/generation.js"></script>
        <script type="text/javascript" src="static/js/arbre/item.js"></script>
        <script type="text/javascript" src="static/js/arbre/trunk.js"></script>
        <script type="text/javascript" src="static/js/arbre/branch.js"></script>
        <script type="text/javascript" src="static/js/arbre/element.js"></script>
        <script type="text/javascript" src="static/js/arbre/app.js"></script>
        <script type="text/javascript" src="static/lib/jsPlumbOld/jquery.jsPlumb-1.4.1-all-min.js"></script>
        <script type="text/javascript" src="static/lib/jquery-ui-1.11.4/jquery-ui.min.js"></script>
	</body>
</html>