<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/html">
	<head lang="en">
        <meta charset="UTF-8">
        <title>Pyschomino</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
	<body>
        <header>
            <a href="/" class="header-logo"><img src="{% static 'img/logo.png' %}" /></a>
            <nav class="nav-right">
                <a href="/rules" class="nav-right-button">Règles</a>
                <a href="/contact" class="nav-right-button">Contact</a>
            </nav>
        </header>
	        <article>
	        	<div class="search">
        			<form action="/lessons/search?search" method="get">
		        		<input type="text" name="search" placeholder="Recherche...">
		        	</form>
        		</div>
                <div class="generate">
                    <button>Generate</button>
                </div>

                <!-- Div qui contient l'arbre -->
                <div id="tree" class="tree">
                    <!-- Div de la lesson (c'est le 1er bloc de l'arbre) -->
                    <div class="trunk">
                        <p class="value">Sujet</p>
                        <a class="btn add branchAdd">+</a>
                    </div>

                    <!-- Div qui contient toutes les branches -->
                    <div class="contentTrunk">
                        <div class="grow">
                            <a class="btn delete branchAdd">x</a>
                            <!-- Div de la branche (c'est le bloc qui affichera une branche, il peut y en avoir plusieurs) -->
                            <div class="branch">
                                <p class="value">Branche</p>
                                <a class="btn add branchAdd">+</a>
                            </div>

                            <div class="contentBranch">
                                <a class="btn delete item">x</a>
                                <!-- Div qui contient un element Image -->
                                <div class="element elementImage">
                                    <p class="value">Image</p>
                                </div>

                                <a class="btn delete item">x</a>
                                <!-- Div qui contient un element de petit texte -->
                                <div class="element elementLittletext">
                                    <p class="value">ElementPetitTexte</p>
                                </div>

                                <a class="btn delete item">x</a>
                                <!-- Div qui contient un element de grande taille -->
                                <div class="element elementLongText">
                                    <p class="value">ElementLongTexte</p>
                                </div>
                            </div>
                        </div>


                        <div class="grow">
                            <div class="branch">
                                <p class="value">Branche</p>
                                <a class="btn add branchAdd">+</a>
                            </div>

                            <div class="contentBranch">
                                <a class="btn delete item">x</a>
                                <!-- Div qui contient un element Image -->
                                <div class="element elementImage">
                                    <p class="value">Image</p>
                                </div>

                                <a class="btn delete item">x</a>
                                <!-- Div qui contient un element de petit texte -->
                                <div class="element elementLittletext">
                                    <p class="value">ElementPetitTexte</p>
                                </div>

                                <a class="btn delete item">x</a>
                                <!-- Div qui contient un element de grande taille -->
                                <div class="element elementLongText">
                                    <p class="value">ElementLongTexte</p>
                                </div>


                                <div class="element elementImage">
                                    <p class="value">Image</p>
                                </div>

                                <a class="btn delete item">x</a>
                                <!-- Div qui contient un element de petit texte -->
                                <div class="element elementLittletext">
                                    <p class="value">ElementPetitTexte</p>
                                </div>

                                <a class="btn delete item">x</a>
                                <!-- Div qui contient un element de grande taille -->
                                <div class="element elementLongText">
                                    <p class="value">ElementLongTexte</p>
                                </div>


                                <div class="element elementImage">
                                    <p class="value">Image</p>
                                </div>

                                <a class="btn delete item">x</a>
                                <!-- Div qui contient un element de petit texte -->
                                <div class="element elementLittletext">
                                    <p class="value">ElementPetitTexte</p>
                                </div>

                                <a class="btn delete item">x</a>
                                <!-- Div qui contient un element de grande taille -->
                                <div class="element elementLongText">
                                    <p class="value">ElementLongTexte</p>
                                </div>

                                <div class="element elementImage">
                                    <p class="value">Image</p>
                                </div>

                                <a class="btn delete item">x</a>
                                <!-- Div qui contient un element de petit texte -->
                                <div class="element elementLittletext">
                                    <p class="value">ElementPetitTexte</p>
                                </div>

                                <a class="btn delete item">x</a>
                                <!-- Div qui contient un element de grande taille -->
                                <div class="element elementLongText">
                                    <p class="value">ElementLongTexte</p>
                                </div>
                            </div>
                        </div>


                        <div class="grow">
                            <div class="branch">
                                <p class="value">Branche</p>
                                <a class="btn add branchAdd">+</a>
                            </div>

                            <div class="contentBranch">
                                <a class="btn delete item">x</a>
                                <!-- Div qui contient un element Image -->
                                <div class="element elementImage">
                                    <p class="value">Image</p>
                                </div>

                                <a class="btn delete item">x</a>
                                <!-- Div qui contient un element de petit texte -->
                                <div class="element elementLittletext">
                                    <p class="value">ElementPetitTexte</p>
                                </div>

                                <a class="btn delete item">x</a>
                                <!-- Div qui contient un element de grande taille -->
                                <div class="element elementLongText">
                                    <p class="value">ElementLongTexte</p>
                                </div>
                            </div>
                        </div>



                        <!-- Div qui contient tous les elements d'une branche (il peut y en avoir plusieurs) -->

                    </div>

                    <!--<div class="branch-name">
                        <textarea class="value" placeholder="Branche"></textarea>
                        <a class="btn add item">+</a>
                        <a class="btn toggle">-</a>
                    </div>
                    <div class="branch">
                        <div class="branch-items">
                            <div class="branch-item">
                                <a class="left"><</a>
                                <a class="right">></a>

                                <div class="item-element img">
                                    <a class="btn-intensity more">+</a>
                                    <a class="btn-intensity less">-</a>
                                    <a class="loadImage">I</a>
                                    <div class="previsualisation">
                                    </div>
                                </div>
                            </div>
                            <div class="branch-item">
                                <a class="left"><</a>
                                <a class="right">></a>
                                <a class="btn delete item">x</a>
                                <div class="item-element longText">
                                    <textarea class="value" placeholder="Texte long..."></textarea>
                                </div>
                            </div>
                            <div class="branch-item">
                                <a class="left"><</a>
                                <a class="right">></a>
                                <a class="btn delete item">x</a>
                                <div class="item-element shortText">
                                    <textarea class="value" placeholder="Texte court..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        		<!-- A afficher si arbre fini -->
        		<!-- TODO : url -->
        		<div class="share">
        			<p>Partager</p>
        			<a href="http://www.facebook.com/sharer.php?u=URL" target="_blank">
        				<img src="{% static 'img/fb2.png' %}" alt="facebook" width="20" height="20"></a>
			    	<a href="http://twitter.com/home?status=URL" target="_blank">
			    		<img src="{% static 'img/tw2.png' %}" alt="twitter" width="20" height="20">
			    	</a>
			    	<a href="https://plus.google.com/share?url=URL" target="_blank">
			    		<img src="{% static 'img/g+2.png' %}" alt="google+" width="20" height="20">
			    	</a>
        		</div>

	        </article>
        <footer>
		    <p>
			    <a href="http://www.facebook.com/Psychomino" target="_blank"><img src="{% static 'img/fb.png' %}" alt="facebook" width="14" height="14"></a>
			    <a href="" target="_blank"><img src="{% static 'img/tw.png' %}" alt="twitter" width="14" height="14"></a>
		    </p>
		    <p>Copyright 2015</p>
		</footer>
        <script type="text/javascript" src="static/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="static/js/arbre/generation.js"></script>
		<!--<script type="text/javascript" src="static/js/app.js"></script>
        <script type="text/javascript" src="static/js/arbre/item.js"></script>
        <script type="text/javascript" src="static/js/arbre/trunk.js"></script>
        <script type="text/javascript" src="static/js/arbre/branch.js"></script>
        <script type="text/javascript" src="static/js/arbre/element.js"></script>
        <script type="text/javascript" src="static/js/arbre/app.js"></script>
        <script type="text/javascript" src="static/lib/jsPlumb/dist/js/dom.jsPlumb-1.7.6-min.js"></script>-->
	</body>
</html>