<!doctype html>
<html>

	<head>
		<title> Rasterizer </title>

		<!-- CSS -->
		<link href="css/style.css" rel="stylesheet" type="text/css">

		<!-- JS -->
		<script type="text/javascript" src="js/libs/dat.gui.min.js"></script>
		<script type="text/javascript" src="js/Rasterizer.js"></script>

	</head>

	<body>

<div id="rasterizer" style="display: none">
		<canvas id='canvas'></canvas>
		<script>
			Rasterizer.init();
			var gui = new dat.GUI();
			gui.add(Rasterizer, 'uploadImage').name( 'Upload' );
			gui.add(Rasterizer, 'intensity', 0.2, 3 ).onChange( function(value) { Rasterizer.draw() } );
			gui.add(Rasterizer, 'save').name( 'Valider' );
		</script>
</div>
		<!-- App -->

	
	</body>
</html>