{% extends "layout.html" %}

{% block previewScripts %}
	<script src="/static/js/freewall.js"></script>
	<script src="/static/js/preview.js"></script>
	<script src="/static/js/html2canvas.svg.min.js"></script>
{% endblock %}

{% block title %}Prévisualisation du cours {{lesson.lesson_title}}{% endblock %}

{% block content %}

	<a href="/lessons/{{lesson.id}}/activate_download">Générer</a>
	<div class="layout">
		<div id="freewall" class="free-wall">
			{% for element in elements %}
				<div class='cell' data-handle=".handle">
					<div class='cover'>
						<div class='handle' style="width: 300px;">{{element.element_content}}</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}