<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="UTF-8">
    <title>Recherche</title>
</head>
<body>
    <h1>Recherche</h1>
    <ul>
        {% for lesson in lessons %}
            <li>
                <p>
                    <h2>
                        {{ lesson.lesson_title }}
                    </h2>
                    <ul>
                        {% for branch in lesson.branches %}
                            {% if forloop.counter <= 4 %}
                                <li>
                                    {{ branch.branch_title }}
                                </li>
                            {%  endif %}
                        {% empty %}
                            <p>Ce cours est vide</p>
                        {%  endfor %}
                    </ul>
                </p>
            </li>
        {% empty %}
            <p>Aucun cours ne correspond à votre recherche</p>
        {% endfor %}
    </ul>
</body>
</html>