/*   FONTS   */
@font-face{
    font-family: 'open-sans';
    src : url('../font/OpenSans-Regular.ttf');
}
@font-face{
    font-family: 'open-sans-bold';
    src : url('../font/OpenSans-Bold.ttf');
}
@font-face{
    font-family: 'open-sans-italic';
    src : url('../font/OpenSans-BoldItalic.ttf');
}

/*   GENERAL   */
body{
    background: #f3ddd0;
    padding: 0;
    margin : 0;
    font-family: 'open-sans';
    color: #555;
}
a, a:hover, a:visited{
    color: white;
    text-decoration: none;
    font-family: 'open-sans';
}
header{
    background-color: #f23d5e;
    padding: 10px 0;
    height: 80px;
    width: 100%;
    position: relative;
}
header .header-logo img{
    height: 80px;
    display: block;
    position: absolute;
    top:50%;
    left: 15px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
header nav.nav-right{
    display: block;
    position: absolute;
    top:50%;
    right: 40px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
header nav a.nav-right-button{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-right: 15px;
}
header nav a.nav-right-button:hover{
    border-bottom: 3px solid white;
}

footer{
    height: 40px;
    padding: 10px 0 20px 0;
/*    position: relative;
    top:calc(100vh - 170px);*/
    background-color: #a72146;
    text-align: center;
    width: 100%;
}
footer p{
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    margin :0;
    margin-bottom: 10px;
}
footer p img{
    margin: 0 15px;
    border: 1px solid white;
    padding: 3px;
}
footer ul{
    list-style: none;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}
footer ul li{
    display: inline;
    color: white;
    font-family: sans-serif;
}

article{
    width: 80%;
    text-align: justify;
    margin: 0 auto;
    padding: 30px 50px;
    background-color: white;
    position: relative;
    min-height: 100px;
}
article h1{
    font-family: 'open-sans-bold';
    color: #a62046;
    border-bottom: 5px solid #f23d5e;
    width: 90%;
    font-size: 40px;
    margin: 15px 0 25px 0;
    padding-left: 40px;
    position: relative;
}
article h1:before{
    content:url(../img/before.png);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 8px;
    left: 0px;
}
article h3{
    margin: 5px 0;
    font-size: 20px;
    font-family: 'open-sans-italic';
    color: #f23d5e;
}
article h2{
    margin: 10px 0;
    font-size: 24px;
    font-family: 'open-sans-bold';
    color: #a62046;
}

/*  SEARCH  */
article div.search{
    margin: 0;
    padding:0;
    position: absolute;
    right: 0;
    margin-right: calc(10% + 32px);
    top: 55px;
    width: 170px;
    z-index: 1;
}
article div.search form input{
    width: 100%;
    height: 20px;
    border: none;
    padding: 5px;
    padding-left: 27px;
    position: relative;
    background:url(../img/form.png) no-repeat #cedef2 5px;
}

/*   SHARE   */
.share p{
    color: #a72146;
    font-family: 'open-sans-bold';
}
.share a img{
    margin: 0;
    margin-right: 30px;
    border: 1px solid #f23d5e;
    padding: 5px;
}

/*   CONTACT   */
.contact form.message{
    width: 60%;
    margin: 20px auto;
}
.contact form.message input, .contact form textarea{
    display: block;
    width: 90%;
    padding: 0;
    height: 50px;
    background-color: #f2ddd0;
    border: none;
    margin: 10px 0;
    font-family: 'open-sans-bold';
    font-size: 16px;
    text-align: center;
    color: #f23d5e;
}
.contact form textarea{
    height: 150px;
    padding: 10px 0;
}
.contact form input[type=submit]{
    color: white;
    background-color: #f23d5e;
    cursor: pointer;
}
.contact form input[type=submit]:hover{
    color: #a72146;
    background-color: #fddde4;
}

/*   RESULT SEARCH   */
.result ul li {
    list-style: none;
}
.result h2{
    margin: 5px 0;
}

/*  Lessons  */
body.lesson{
    background: none;
}
.free-wall {
    margin: 15px;
}
.cell .cover {
    padding: 15px;
}
.handle {
    border: 1px solid red;
    padding: 20px;
}
#freewall{
    width: 1960px;
    max-height: 1120px !important;
}
#generate {
    color:#666666 !important;
}